.buttons:link,
.buttons:visited {
    color: white;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 0 0 20px;
    padding: 5px 0 0 0;
    position: inline-block;
    float: left;
    height: 23px;
    width: 100px;
    border-bottom: 2px solid #212121;
    border-right: 2px solid #212121;
    border-top: 2px solid #767676;
    border-left: 2px solid #767676;
}

.buttons:active {
    background-color: red;
    border: 2px solid #212121;
    border-radius: 4px;
    color: white;
}

.red {
    background-color: red;
    color: white;
}

.green {
    background-color: rgb(0, 180, 0);
    color: white;
}

.green:active {
    background-color: green;
}
.formcontainer {
    display: block;
    font-size: 18px;
    margin: 10px 0 0 0;
}